.Box {
    border: 0px;
    background-color: burlywood;
    padding: 50px;
    border: 10px solid #123512 ;
    margin: 20px;
    height: 500px;
    width: 300px;
    color: red;
    text-align: justify;
}
.Youtube {
   
     padding: 10px 20px; 
     background-color: #ff0000; color: white; border: none; border-radius: 5px;
 }
 .Text{
    text-decoration: underline;
    border: 50px;
    padding: 50px;
    margin: 20px;
    background-color: blanchedalmond;
 }
 table{
    width: 100%;
    border-collapse: collapse;
 }
 table,th,td{
    border:1px solid #000;
 }
 th{
     height: 50px;
 }
 td{
    height: 50px;
 }
 